/* reset */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}

/* header */
header{
    background:linear-gradient(to bottom,rgba(0,0,0,1),0%,rgba(0,0,0,0),100%);
    padding: 30px 40px;
    position: absolute;
    z-index: 2;
    width: 100%;
}


header nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header .logo img{
    border-radius: 68px;
    filter: brightness(82%);
    object-fit: cover;
    height: 80px;
    width:80px;
    filter: contrast(70%);
    
}
.nav-bar{
    justify-content: space-between;
}

 .nav-bar ul{
    display: flex;
    
    list-style:none;
}

.nav-bar a{
    color: cornsilk;
    width :30px;
    font-size: 19px;
    padding: 14px  25px;
    background:linear-gradient(to bottom, rgb(165, 22, 22),0%, rgba(50, 102, 214, 0),100%);
    border-radius: 10px;
    


}
.nav-bar li{
    padding: 10px 10px;

}
.nav-bar li a{
    transition: color ease 1s;
    

}

.nav-bar li:hover  a{
    
    background-color: #e7eff9;
     background-image :linear-gradient(315deg, #9feff5 0%, #d5e7e7 74%);
    color:#f2f2f2

}

header .nav-bar .fa-bars{
    display: none;

}

@media(max-width:767px)
{
    header .nav-bar .fa-bars{
        display: block;
        color: rgb(255, 255, 255);
    
    }
}

@media(max-width:767px){
    .nav-bar ul{
        display: block;
        
        list-style:none;
    }

}


/* header-ends */

/* Zuzuki */

.zuk {
    height: 900px;
   position: relative;
    width: 100%;
    
    
}

.zuk img{
    object-fit: cover;
    width: 100%;
    height: 700px;
    filter:brightness(70%);
    
}

.zuk .zuk-info{
    padding: 13px 14px;
    border-radius: 20px;
  
    left: 78px;
    font-size: 34px;
    height:300px;
    width: 294px;
    background-color:#000000a1; 
    position: absolute;
    top:30%;
}

.zuk .zuk-info h1{
    color:#f5f5f5;
    text-shadow: 1px -3px 5px #10dfee, 4px -4px 3px rgb(34, 51, 48);
    max-width: 287px;
    margin-bottom: 32px;
    

}

.zuk .zuk-info h1 span{
    display: block;
    font-size: 30px;
    font-weight: 900;
}

.zuk .zuk-info .cta-button{
    height: 100px;
    background-color: rgb(55, 211, 211);
    font-weight: 100;
    font-size: 17px;
    display: inline;
    margin-top: 30px;
    padding: 10px 18px;
    color: ghostwhite;
    border-radius: 24px;
    transition: background-color ease 0.5s ;
}

.zuk .zuk-info .cta-button:hover{
    background-color:black;
}

.zuk .swiper-container-horizontal>.swiper-pagination {
    text-align: right;
    padding-right: 30px;
   
    bottom: 55px;
}


.zuk .swiper-pagination .swiper-pagination-bullet{
    opacity: 1;
    border: 2px solid rgb(255, 255, 255);
    width: 23px;
    height: 23px;
    background: transparent;
}
.zuk .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    border: 2px solid #0cf7e4 ;
}




